@keyframes reveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes daySlideUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-45px);
    }
}

@keyframes searchSlideUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-35vh);
    }
}