@import "./abstracts/variables";

@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

@import "./components/hourly";
@import "./components/weekly";

@import "./layout/hourly-section";

// $color-font-primary: rgb(211, 218, 243);


html,
body {
    // min-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    min-height: 100vh;
    background: linear-gradient(335.58deg, $color-primary-dark -1.43%, $color-primary-light 103.38%);
}

.header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    position: relative;
    top: 200px;
    /* animation: searchSlideUp .75s ease;
    animation-fill-mode: forwards; */
}

.search h1 {
    width: 500px;
    color: rgb(214, 214, 214);
    font-weight: 100;
    font-size: 40px;
    /* visibility: hidden; */
    text-align: center;
}

.search-input {
    width: 500px;
    height: 45px;
    font-weight: 300;
    font-family: "Lato";
    box-sizing: border-box;
    padding-left: 18px;
    border-radius: 57px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 24px;
    color: white;
}
.search-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.search-btn:focus {
    outline: none;
}
.search-icon {
    height: 25px;
    width: 25px;
    fill: #0979CF;
    position: relative;
    right: 57px;
    top: 2px;
    cursor: pointer;
}
.search-input:focus {
    outline: none;
}
.search-input::placeholder {
    font-weight: 100;
    color: rgb(214, 214, 214);
    letter-spacing: 0.03em;
}

.curr-address {
    width: 70%;
    margin:0 auto;
    padding: 30px 0;
    text-align: center;
    color: rgb(230, 234, 251);
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 300;
}

.current-display {
    margin: 0 auto;
    display: flex;
    width: 90%;
    justify-content: space-around;
}

/* Left Side of Current Display */

.left {
    width: 40%;
    // height: 380px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
}

.curr-condition {
    // background-color: rgba(200, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    // box-sizing: border-box;
    // margin-left: 30px;
    // padding-top: 20px;
}

.curr-condition-sum {
    margin: 0 0 0 25px;
    color: white;
    font-size: 48px;
    font-weight: 100;
}

/* 
.curr-temp {
    display: flex;
}

.curr-temp h3 {
    margin: 0;
    font-size: 150px;
    font-weight: 100;
}
*/

#temp {
    margin: 0;
    font-size: 150px;
    font-weight: 100;
    color: white;
}

.curr-temp {
    // width: 100%;
    // height: 65%;
    // margin-left: 30px;
    // font-weight: 100;
    // font-family: "Lato";
    // /* background-color: rgba(72, 189, 150, 0.5); */
    display: flex;
    justify-content: center;
    // align-items: flex-start;
    color: rgb(211, 218, 243);
}

.curr-temp_units {
    margin-top: 30px;
    margin: 35px 0 0 20px;
    font-size: 25px;
}

// .curr-temp span {
//     font-size: 25px;
//     align-self: flex-start;
//     font-weight: 100;
//     margin: 45px 3px 0 5px;
// }
.temp-units {
    color: #0979CF;
    cursor: pointer;
}
.units-active {
    color: rgb(192, 192, 192);
    cursor: text;
}

/* Right Side of Current Display */

// .right {
//     width: 50%;
// }

// .curr-details {
//     font-size: 35px;
//     font-weight: 100;
// }

.right {
    width: 50%;
    /* background-color: rgba(0, 0, 0, .5); */
}

.curr-conditions {
    // font-size: 35px;
    font-weight: 100;
    color: rgb(211, 218, 243);
    font-family: "Lato";
    font-size: 35px;
    // font-weight: 300;
    // position: relative;
    // left: 90px;
    // box-sizing: border-box;
    // padding-top: 77px;
}
.curr-conditions div {
    padding-top: 27px;
}

/* Hourly conditions */


.hourly-container {
    box-sizing: border-box;
    padding-bottom: 20px;
    width: 100%;
    padding: 0 5% 25px 5%;
    // height: 160px;
    /* background-color: rgba(0, 0, 0, .5); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.hourly {
    width: 120px;
    height: 90%;
    /* background-color: #0A316A; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hourly-temp {
    font-weight: 300;
    font-size: 25px;
    color: #D2EFFF;
}
.hourly-time {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    color: white;
    padding-top: 7px;
}
.hourly-icon img {
    height: 50px;
    width: 50px;
}


/* Bottom Weekly Forecast */

.weekly-container {
    width: 100%;
    min-height: 280px;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}
.weekly {
    width: 118px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
    cursor: pointer;
    
}

.weekly-active {
    transform: translateY(-45px);
    width: 118px;
    height:200px;
    position: relative;
    background: linear-gradient(0deg, rgba(0,162,255,0) 35%, #0B089A 100%);
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: daySlideUp .4s cubic-bezier(0, 0.1, 0.2, 0.8);
}

.weekly-icon img {
    height: 75px;
    width: 75px;
}
.weekly-temp-high {
    font-weight: 300;
    font-size: 25px;
    color: #FFEC87;
}
.weekly-temp-low {
    font-weight: 300;
    font-size: 25px;
    color: #D2EFFF;
}
.weekly-day {
    font-weight: 300;
    font-size: 31px;
    color: white;
}

.hidden {
    opacity: 0;
    display: none;
    // visibility: hidden;
}

.reveal-animation {
    animation: reveal .8s ease-out;
}

.search-animation {
    animation: searchSlideUp .8s ease;
    animation-fill-mode: forwards;
}