.weekly-container {
    width: 100%;
    min-height: 280px;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}
.weekly {
    width: 118px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
    cursor: pointer;
    
}

.weekly-active {
    transform: translateY(-45px);
    width: 118px;
    height:200px;
    position: relative;
    // background: linear-gradient(0deg, rgba(0,162,255,0) 35%, #0B089A 100%);
    // background: linear-gradient(0deg, rgba(57, 154, 224, 0.38) 35%, rgba(142, 228, 255, 0.38) 100%);
    background: linear-gradient(0deg, rgba(57, 154, 224, 0) 35%, rgb(41, 105, 247) 100%);
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: daySlideUp .4s cubic-bezier(0, 0.1, 0.2, 0.8);
}

.weekly-icon img {
    height: 75px;
    width: 75px;
}
.weekly-temp-high {
    font-weight: 300;
    font-size: 25px;
    color: #FFEC87;
}
.weekly-temp-low {
    font-weight: 300;
    font-size: 25px;
    color: #D2EFFF;
}
.weekly-day {
    font-weight: 300;
    font-size: 31px;
    color: white;
}